@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Times New Roman, 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

body {
  background: #191D23;
  color: #FFE7C2;
}

img {
  display: block;
}

section {
  width: 50%;
  margin: 32px auto;
}

@media (max-width: 1024px) {
  section {
    width: 75%;
    margin: 24px auto;
  }
}

@media (max-width: 767px) {
  section {
    width: 90%;
    margin: 24px auto;
  }
}

.topic {
  margin: 0 0 32px;
  color: #FCA071;
  font-size: 36px;
  text-align: center;
}

@media (max-width: 1024px) {
  .topic {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .topic {
    margin: 0 0 24px;
    font-size: 24px;
  }
}

.describe {
  font-size: 24px;
}

@media (max-width: 1024px) {
  .describe {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .describe {
    font-size: 16px;
  }
}

.code {
  padding: 6px;
  margin: 6px 0;
  font-size: 18px;
  color: #DEC4AF;
  background: #528A8E;
  border-radius: 4px;
  overflow: auto;
}

@media (max-width: 1024px) {
  .code {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .code {
    font-size: 14px;
  }
}

.comment {
  color: #191D23;
}

.box {
  max-width: 100%;
  margin: auto;
  border-radius: 4px;
}

.randSize {
  width: 254px;
  height: 145px;
}

.randBg {
  background: #13739e;
}
