@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Times New Roman, 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

body {
  background: #191D23;
  color: #FFE7C2;
}

img {
  display: block;
}

section {
  width: 50%;
  margin: 32px auto;
}

@media (max-width: 1024px) {
  section {
    width: 75%;
    margin: 24px auto;
  }
}

@media (max-width: 767px) {
  section {
    width: 90%;
    margin: 24px auto;
  }
}

.topic {
  margin: 0 0 32px;
  color: #FCA071;
  font-size: 36px;
  text-align: center;
}

@media (max-width: 1024px) {
  .topic {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .topic {
    margin: 0 0 24px;
    font-size: 24px;
  }
}

.describe {
  font-size: 24px;
}

@media (max-width: 1024px) {
  .describe {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .describe {
    font-size: 16px;
  }
}

.code {
  padding: 6px;
  margin: 6px 0;
  font-size: 18px;
  color: #DEC4AF;
  background: #528A8E;
  border-radius: 4px;
  overflow: auto;
}

@media (max-width: 1024px) {
  .code {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .code {
    font-size: 14px;
  }
}

.comment {
  color: #191D23;
}

.box {
  max-width: 100%;
  margin: auto;
  border-radius: 4px;
}

.randSize {
  width: 150px;
  height: 265px;
}

.randBg {
  background: #7cb37f;
}

.circle-frame {
  width: 100%;
  height: 12vh;
  margin: 3vh 0;
  position: relative;
}

.circle {
  width: 3vw;
  height: 3vw;
  border: 2px solid skyblue;
  border-radius: 45%;
  position: absolute;
  top: 50%;
}

/* 從 0 開始，第一個才會是原始值，從 0 的話要把 through 改成 to */
.circle:nth-child(1) {
  border-color: #87a4eb;
  left: 9%;
  -webkit-transform: rotate(1deg) translateY(-50%);
          transform: rotate(1deg) translateY(-50%);
  -webkit-animation: 4s 0.5s circlesRotate infinite alternate;
          animation: 4s 0.5s circlesRotate infinite alternate;
}

.circle:nth-child(2) {
  border-color: #9387eb;
  left: 18%;
  -webkit-transform: rotate(2deg) translateY(-50%);
          transform: rotate(2deg) translateY(-50%);
  -webkit-animation: 4s 1s circlesRotate infinite alternate;
          animation: 4s 1s circlesRotate infinite alternate;
}

.circle:nth-child(3) {
  border-color: #bd87eb;
  left: 27%;
  -webkit-transform: rotate(3deg) translateY(-50%);
          transform: rotate(3deg) translateY(-50%);
  -webkit-animation: 4s 1.5s circlesRotate infinite alternate;
          animation: 4s 1.5s circlesRotate infinite alternate;
}

.circle:nth-child(4) {
  border-color: #e787eb;
  left: 36%;
  -webkit-transform: rotate(4deg) translateY(-50%);
          transform: rotate(4deg) translateY(-50%);
  -webkit-animation: 4s 2s circlesRotate infinite alternate;
          animation: 4s 2s circlesRotate infinite alternate;
}

.circle:nth-child(5) {
  border-color: #eb87c6;
  left: 45%;
  -webkit-transform: rotate(5deg) translateY(-50%);
          transform: rotate(5deg) translateY(-50%);
  -webkit-animation: 4s 2.5s circlesRotate infinite alternate;
          animation: 4s 2.5s circlesRotate infinite alternate;
}

.circle:nth-child(6) {
  border-color: #eb879c;
  left: 54%;
  -webkit-transform: rotate(6deg) translateY(-50%);
          transform: rotate(6deg) translateY(-50%);
  -webkit-animation: 4s 3s circlesRotate infinite alternate;
          animation: 4s 3s circlesRotate infinite alternate;
}

.circle:nth-child(7) {
  border-color: #eb9c87;
  left: 63%;
  -webkit-transform: rotate(7deg) translateY(-50%);
          transform: rotate(7deg) translateY(-50%);
  -webkit-animation: 4s 3.5s circlesRotate infinite alternate;
          animation: 4s 3.5s circlesRotate infinite alternate;
}

.circle:nth-child(8) {
  border-color: #ebc587;
  left: 72%;
  -webkit-transform: rotate(8deg) translateY(-50%);
          transform: rotate(8deg) translateY(-50%);
  -webkit-animation: 4s 4s circlesRotate infinite alternate;
          animation: 4s 4s circlesRotate infinite alternate;
}

.circle:nth-child(9) {
  border-color: #e7eb87;
  left: 81%;
  -webkit-transform: rotate(9deg) translateY(-50%);
          transform: rotate(9deg) translateY(-50%);
  -webkit-animation: 4s 4.5s circlesRotate infinite alternate;
          animation: 4s 4.5s circlesRotate infinite alternate;
}

@-webkit-keyframes circlesRotate {
  to {
    -webkit-transform: rotate(720deg) translateY(-50%);
            transform: rotate(720deg) translateY(-50%);
  }
}

@keyframes circlesRotate {
  to {
    -webkit-transform: rotate(720deg) translateY(-50%);
            transform: rotate(720deg) translateY(-50%);
  }
}
