@import "_mixin.scss";
@import "_variable.scss";

section {
  width: 50%;
  margin: 32px auto;

  @include pad {
    width: 75%;
    margin: 24px auto;
  }

  @include phone {
    width: 90%;
    margin: 24px auto;
  }
}

.topic {
  margin: 0 0 32px;
  color: $fontColor-tertiary;
  font-size: 36px;
  text-align: center;

  @include pad {
    font-size: 28px;
  }

  @include phone {
    margin: 0 0 24px;
    font-size: 24px;
  }
}

.describe {
  font-size: 24px;

  @include pad {
    font-size: 20px;
  }

  @include phone {
    font-size: 16px;
  }
}

.code {
  padding: 6px;
  margin: 6px 0;
  font-size: 18px;
  color: $fontColor-secondary;
  background: $bg-secondary;
  border-radius: 4px;
  overflow: auto;

  @include pad {
    font-size: 16px;
  }

  @include phone {
    font-size: 14px;
  }
}

.comment {
  color: $bg-primary;
}

// random
.box {
  max-width: 100%;
  margin: auto;
  border-radius: 4px;
}

.randSize {
  width: (random(230) + 49) + px;
  height: (random(230) + 49) + px;
}

.randBg {
  background: rgb((random(256) - 1), (random(256) - 1), (random(256) - 1));
}

// for circle
$circlesNum: 9;
$circleColor: skyblue;
$spaceMultiplier: 9%;
$rotateMultiplier: 1;
$colorMultiplier: 25;

.circle-frame {
  width: 100%;
  height: 12vh;
  margin: 3vh 0;
  position: relative;
}

.circle {
  width: 2.5vw;
  height: 2.5vw;
  border: 2px solid $circleColor;
  border-radius: 45%;
  position: absolute;
  top: 50%;
}

/* 從 0 開始，第一個才會是原始值，從 0 的話要把 through 改成 to */
@for $i from 1 through $circlesNum {
  .circle:nth-child(#{$i}) {
    border-color: adjust-hue($circleColor, $i*$colorMultiplier);
    left: $i*$spaceMultiplier;
    transform: rotate($i*$rotateMultiplier*1deg) translateY(-50%);
    animation: 4s $i*0.5s circlesRotate infinite alternate;
  }
}

@keyframes circlesRotate {
  to {
    transform: rotate(720deg) translateY(-50%);
  }
}